* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  padding: 10px;
  font-family: 'Arial' sans-serif;
  background-color: #ffffff;
  color: #000000;
  width: 800px;
  height: 480px;
  overflow: hidden;
  font-size: 14px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  height: 50px;
}

.location {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #000000;
}

.current-date {
  font-size: 16px;
  color: #333333;
}

.main-content{
  display: flex;
  gap: 20px;
  height: 250px;
  margin-bottom: 15px;
}

.current-weather { 
  background: #ffffff;
  /* border: 2px solid #000000;
  border-radius: 15px; */
  text-align: center;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.current-weather .weather-icon { 
  width: 164px;
  height: auto;
}

.current-weather .weather-icon img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.current-weather .temperature {
  font-size: 36px;
  font-weight: bold;
}

.hourly-chart {
  background: #ffffff;
  /* border: 2px solid #000000;
  border-radius: 15px; */
  padding: 20px;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.hourly-chart h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.hourly-chart canvas {
  max-height: 200px !important;
  width: 100% !important;

}

.daily-forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  height: 100px;
}

.forecast-card {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  text-align: center;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-card strong {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.forecast-card .weather-icon {
  width: 32px;
  height: 32px;
}

.forecast-card .temperature {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2
}
